<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @body.full_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @body.weight %>
</p>

<p>
  <strong>Stature:</strong>
  <%= @body.stature %>
</p>

<p>
  <strong>Head circumference:</strong>
  <%= @body.head_circumference %>
</p>

<p>
  <strong>Shoulder breadth:</strong>
  <%= @body.shoulder_breadth %>
</p>

<p>
  <strong>Hand length:</strong>
  <%= @body.hand_length %>
</p>

<p>
  <strong>Hand breadth:</strong>
  <%= @body.hand_breadth %>
</p>

<p>
  <strong>Chest circumference:</strong>
  <%= @body.chest_circumference %>
</p>

<p>
  <strong>Waist circumference:</strong>
  <%= @body.waist_circumference %>
</p>

<p>
  <strong>Foot length:</strong>
  <%= @body.foot_length %>
</p>

<p>
  <strong>Foot breadth:</strong>
  <%= @body.foot_breadth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @body.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @body.gender %>
</p>

<%= link_to 'Edit', edit_body_path(@body) %> |
<%= link_to 'Back', bodies_path %>
