<p id="notice"><%= notice %></p>

<p>
  <strong>Sepal length:</strong>
  <%= @flower.sepal_length %>
</p>

<p>
  <strong>Sepal width:</strong>
  <%= @flower.sepal_width %>
</p>

<p>
  <strong>Petal length:</strong>
  <%= @flower.petal_length %>
</p>

<p>
  <strong>Petal width:</strong>
  <%= @flower.petal_width %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @flower.specie %>
</p>

<%= link_to 'Edit', edit_flower_path(@flower) %> |
<%= link_to 'Back', flowers_path %>
