<!DOCTYPE html>
<html>
  <head>
    <title>Measurements</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer style="font-size: 2rem; position:absolute; bottom:20px; right: 20px">
      <%= link_to "View code in Github", "https://github.com/GabrielSandoval/dnnff_rails_example" %>
    </footer>
  </body>
</html>
